##################################################################################
# ENDPOINT
##################################################################################

nsxt_instance = "sfo-w01-nsx01.sfo.rainpole.io"
nsxt_username = "admin"
nsxt_password = "********************"
nsxt_insecure = false

##################################################################################
# NSX SEGMENTS
##################################################################################

nsxt_transport_zone = "overlay-tz-sfo-w01-nsx01.sfo.rainpole.io"
nsxt_t1_gw          = "sfo-w01-ec01-t1-gw01"
nsxt_segments = [
  {
    name = "sfo-outbound-192-168-64-0-22"
    cidr = "192.168.64.1/22"
  }
]