##################################################################################
# ENDPOINT
##################################################################################

vra_url       = "https://xint-vra01.rainpole.io"
vra_api_token = "*******************************"
vra_insecure  = false

##################################################################################
# FABRIC NETWORKS - EXISTING
##################################################################################

# Fabric Networks

cidr_network0            = "172.11.10.0/24"
default_gateway_network0 = "172.11.10.1"

cidr_network1            = "172.12.10.0/24"
default_gateway_network1 = "172.12.10.1"

domain                   = "sfo.rainpole.io"
dns_search_domains       = ["sfo.rainpole.io"]
dns_server_addresses     = ["172.16.11.4", "172.16.11.5"]