##################################################################################
# VARIABLES
##################################################################################

# Credentials

vsphere_server   = "sfo-w01-vc01.rainpole.io"
vsphere_username = "svc-terraform-vsphere@rainpole.io"
vsphere_password = "************"
vsphere_insecure = false

# vSphere Settings

vsphere_datacenter = "sfo-w01-dc01"
vsphere_cluster    = "sfo-w01-cl01"

# vSphere Objects

vsphere_folders = {
  folder0 = {
    path = "sfo-w01-fd-workload"
    type = "vm"
  }
}

vsphere_resource_pools = {
  resource_pool0 = {
    name = "sfo-w01-cl01-rp-workload"
  }
}
