##################################################################################
# VARIABLES
##################################################################################

# NSX Manager

nsxt_instance = "sfo-w01-nsx01.sfo.rainpole.io"
nsxt_username = "admin"
nsxt_password = "VMw@re1!VMw@re1!"

# Permissions

vidm_user            = "svc-vaa-nsx@sfo.rainpole.io"
vidm_type            = "remote_user"
vidm_identity_source = "VIDM"
nsxt_role            = "enterprise_admin"
