##################################################################################
# VARIABLES
##################################################################################

aria_automation_url       = "https://api.mgmt.cloud.vmware.com"
aria_automation_api_token = "********************"
aria_automation_insecure  = false

// Cloud Accounts

cloud_accounts_vsphere = {
  account0 = {
    name        = "sfo-w01-vc01"
    hostname    = "sfo-w01-vc01.sfo.rainpole.io"
    username    = "svc-vaa-vsphere@sfo.rainpole.io"
    password    = "VMw@re1!"
    region      = "Datacenter:datacenter-3"
    description = "San Francisco - Workload Domain 01"
    tag_region  = "sfo-w01"
    association = [
      "sfo-w01-nsx01",
    ]
  }
}

cloud_accounts_nsx = {
  account0 = {
    name        = "sfo-w01-nsx01"
    hostname    = "sfo-w01-nsx01.sfo.rainpole.io"
    username    = "svc-vaa-nsx@sfo.rainpole.io"
    password    = "VMw@re1!"
    description = "San Francisco - Workload Domain 01"
    tag_region   = "sfo-w01"
  }
}

accept_self_signed = true
cloud_proxy        = "sfo-cba-cdp01"