##################################################################################
# ENDPOINT
##################################################################################

vra_url       = "https://api.mgmt.cloud.vmware.com"
vra_api_token = "4nToy5ruIFb.....................fHDfn3nDDYpJ"

##################################################################################
# CREDENTIALS
##################################################################################

# Amazon Web Services

aws_access_key = "AKIAR.............HQNBI"
aws_secret_key = "gMUl/6F................KdP/SOisZ7R"



