##################################################################################
# VARIABLES
##################################################################################

# vSphere Settings

vsphere_server     = "sfo-m01-vc01.rainpole.io"
vsphere_username   = "svc-terraform-vsphere@rainpole.io"
vsphere_password   = "***************"
vsphere_insecure   = false
vsphere_host       = "sfo-m01-esx01.rainpole.io"
vsphere_datacenter = "sfo-m01-dc01"
vsphere_folder     = "sfo-m01-fd-vmc"
vsphere_cluster    = "sfo-m01-cl01"
vsphere_datastore  = "sfo-m01-cl01-ds-vsan01"
vsphere_network    = "sfo-m01-seg01"

# Cloud Proxy Settings

cloud_proxy_ovf_remote                = "https://ci-data-collector.s3.amazonaws.com/VMware-Cloud-Services-Data-Collector.ova"
cloud_proxy_ovf_local                 = null
cloud_proxy_otk                       = "*****************************"
cloud_proxy_root_password             = "************"
cloud_proxy_root_password_mindays     = 0
cloud_proxy_root_password_maxdays     = 365
cloud_proxy_root_password_warndays    = 14
cloud_proxy_name                      = "sfo-w01-vmc-vra01"
cloud_proxy_display_name              = "sfo-w01-vmc-vra01"
cloud_proxy_network_proxy_hostname_ip = null
cloud_proxy_network_proxy_port        = null
cloud_proxy_network_proxy_username    = null
cloud_proxy_network_proxy_password    = null
cloud_proxy_ip_address                = "192.168.31.11"
cloud_proxy_netmask                   = "255.255.255.0"
cloud_proxy_gateway                   = "192.168.31.1"
cloud_proxy_domain                    = "rainpole.io"
cloud_proxy_dns_search                = "rainpole.io"
cloud_proxy_dns_servers               = "172.16.11.4,172.16.11.5"
cloud_proxy_disk_provisioning         = "thin"