##################################################################################
# VARIABLES
##################################################################################

csp_api_token = "<!--REPLACE WITH CSP TOKEN-->"
cep_server    = "<!--REPLACE WITH CLOUD PROXY HOSTNAME-->"