##################################################################################
# VARIABLES
##################################################################################

csp_api_token = "*********************"
cep_server    = "sfo-cba-cep01.sfo.rainpole.io"