##################################################################################
# ENDPOINT
##################################################################################

vra_url       = "https://xint-vra01.rainpole.io"
vra_api_token = "*******************************"
vra_insecure  = false

#################################################################################
# FABRIC NETWORKS - ON-DEMAND
##################################################################################

# Fabric Networks

cidr                 = "192.168.64.0/22"
default_gateway      = "192.168.64.1"

domain               = "sfo.rainpole.io"
dns_search_domains   = ["sfo.rainpole.io"]
dns_server_addresses = ["172.16.11.4", "172.16.11.5"]